@{
    ViewData["Title"] = "Home Page";
}
<head>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            jsonvalue1 = 'query{IsCustomer(email_company_contact:"@User.Identity.Name"){full_name_company_contact}}';
            console.log(jsonvalue1);
            $.ajax({
                url: "https://graphql-wj.herokuapp.com/graphql",
                type: "POST",
                headers: {
                    'Access-Control-Allow-Origin: *'
                },
                contentType: "application/json",
                data: JSON.stringify({ query: jsonvalue1 }),
                error: function (xhr, status, error) {
                    console.error('AJAX Error: ' + status + error);
                },
                success: function (response) {
                    console.log(response);
                    var name = response["data"]["IsCustomer"][0]["full_name_company_contact"];
                    $("#greetings").html("Welcome back "+name+" !");
                    console.log(name);
                    document.getElementById("waiting").style.display = "none";
                }
            });
            jsonvalue2 = 'query{ customerElevators(email_company_contact:"@User.Identity.Name"){ elevators{ id, status } } }';
            console.log(jsonvalue2);
            $.ajax({
                url: "https://graphql-wj.herokuapp.com/graphql",
                type: "POST",
                headers: {
                    'Access-Control-Allow-Origin: *'
                },
                contentType: "application/json",
                data: JSON.stringify({ query: jsonvalue2 }),
                error: function (xhr, status, error) {
                    console.error('AJAX Error: ' + status + error);
                },
                success: function (response) {
                    console.log(response);
                    var name = response["data"]["customerElevators"]["elevators"];
                    var elevatorquantity = name.length
                    $("#elevatordeployed").html("You have " + elevatorquantity + " elevators deployed");
                    console.log(elevatorquantity);
                    var count = 0
                    for (var i = 0; i < name.length; i++) {
                        if (name[i]["status"] != "Active") {
                            count = count + 1;
                        }
                    }
                    $("#elevatorsstop").html("You have " + count + " elevators that are not in running status and are being serviced");
                    console.log(count);
                }
            });
            jsonvalue3 = 'query{ customerBuilding(email_company_contact:"@User.Identity.Name"){ buildings{ id } } }';
            console.log(jsonvalue3);
            $.ajax({
                url: "https://graphql-wj.herokuapp.com/graphql",
                type: "POST",
                headers: {
                    'Access-Control-Allow-Origin: *'
                },
                contentType: "application/json",
                data: JSON.stringify({ query: jsonvalue3 }),
                error: function (xhr, status, error) {
                    console.error('AJAX Error: ' + status + error);
                },
                success: function (response) {
                    console.log(response);
                    var name = response["data"]["customerBuilding"]["buildings"];
                    var buildingquantity = name.length
                    $("#buildingtotal").html("You have " + buildingquantity + " buildings");
                    console.log(buildingquantity);
                }
            });
            jsonvalue4 = 'query{customerInfo(email_company_contact:"@User.Identity.Name"){id,interventions{status}}}';
            console.log(jsonvalue4);
            $.ajax({
                url: "https://graphql-wj.herokuapp.com/graphql",
                type: "POST",
                headers: {
                    'Access-Control-Allow-Origin: *'
                },
                contentType: "application/json",
                data: JSON.stringify({ query: jsonvalue4 }),
                error: function (xhr, status, error) {
                    console.error('AJAX Error: ' + status + error);
                },
                success: function (response) {
                    console.log(response);
                    var name = response["data"]["customerInfo"]["interventions"];
                    var interquantity = name.length
                    $("#interventions").html("You have a total of " + interquantity + " interventions:");
                    console.log(interquantity);
                    console.log("----");
                    console.log(name.status);
                    console.log("----");
                    var InProgress = 0
                    var Pending = 0
                    var Interrupted = 0
                    var Incomplete = 0
                    var Complete = 0
                    var Other = 0
                    for (var i = 0; i < interquantity; i++) {
                        if (name[i].status == "InProgress") {
                            InProgress = InProgress + 1
                        }
                        else if (name[i].status == "Pending") {
                            Pending = Pending + 1
                        }
                        else if (name[i].status == "Interrupted") {
                            Interrupted = Interrupted + 1
                        }
                        else if (name[i].status == "Incomplete") {
                            Incomplete = Incomplete + 1
                        }
                        else if (name[i].status == "Complete") {
                            Complete = Complete + 1
                        }
                        else {
                            Other = Other + 1
                        }
                    }
                    $("#InProgress").html(InProgress);
                    $("#Pending").html(Pending);
                    $("#Interrupted").html(Interrupted);
                    $("#Complete").html(Complete);
                    $("#Incomplete").html(Incomplete);
                    $("#Other").html(Other);

                }
            });
        });
    </script>
</head>
<div class="text-center">
    <div class="display-4" id="greetings">Welcome dear client !</div>
    <h3 class="fw-600" id="waiting"><span>Loading Messages...</span></h3>
</div>
<br />
<hr />
<div id="elevatorsstop"></div>
<hr />
<div id="elevatordeployed"></div>
<hr />
<div id="interventions"></div>
<br />
<form>
    <div class="table-responsive p-20 fs-16">
        <table class="table table-bordered table-vertical-middle">
            <tr>
                <th>Status</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>InProgress:</td>
                <td id="InProgress"></td>
            </tr>
            <tr>
                <td>Pending:</td>
                <td id="Pending"></td>
            </tr>
            <tr>
                <td>Interrupted:</td>
                <td id="Interrupted"></td>
            </tr>
            <tr>
                <td>Complete</td>
                <td id="Complete"></td>
            </tr>
            <tr>
                <td>Incomplete</td>
                <td id="Incomplete"></td>
            </tr>
            <tr>
                <td>Other</td>
                <td id="Other"></td>
            </tr>

        </table>
    </div>
</form>
