@{
    ViewData["Title"] = "Intervention";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Intervention</h1>

<form action="https://graphql-wj.herokuapp.com/graphql" method="post">
    <div>
    <label for="customer_id">Company Name</label>
    <input type="text" name="customer_id" />
    </div>
    <div>
        <label for="building_id">Building Address</label>
        <input type="text" name="building_id" />
    </div>
    <div>
        <label for="battery_id">Battery ID</label>
        <input type="text" name="battery_id" />
    </div>
    <div>
        <label for="column_id">Column ID</label>
        <input type="text" name="column_id" />
    </div>
    <div>
        <label for="elevator_id">Elevator ID</label>
        <input type="text" name="elevator_id" />
    </div>
    <div>
        <label for="employee_id">Employee Name</label>
        <input type="text" name="employee_id" />
    </div>
    <div>
        <label for="report">Description</label>
        <input type="text" name="report" />
    </div>
    <div>
        <button type="submit" class="btn btn-red">SUBMIT</button>
    </div>
</form>

<script>
    $("#intervention_building_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
    $("#intervention_battery_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
    $("#intervention_column_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
    $("#intervention_elevator_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty

    $("#intervention_customer_id").change(function () {
        var customer = $(this).val();
        if (customer == '') {
            $("#intervention_elevator_id").prop("hidden", true);
            $("#intervention_column_id").prop("hidden", true);
            $("#intervention_battery_id").prop("hidden", true);
            $("#intervention_building_id").prop("hidden", true);
        } else {
            $("#intervention_building_id").prop("hidden", false);
            $("#intervention_elevator_id").prop("hidden", true);
            $("#intervention_column_id").prop("hidden", true);
            $("#intervention_battery_id").prop("hidden", true);
        }
        $.ajax({
            url: "/building",
            type: "GET",
            dataType: "json",
            data: { customer: customer },
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var buildings = response["buildings"];
                $("#intervention_building_id").empty();

                $("#intervention_building_id").append('<option value="">Select Building</option>');
                for (var i = 0; i < buildings.length; i++) {
                    $("#intervention_building_id").append('<option value="' + buildings[i]["id"] + '">' + buildings[i]["address_of_the_building"] + '</option>');
                }
            }
        });
    });
    $("#intervention_building_id").change(function () {
        var building = $(this).val();
        if (building == '') {
            $("#intervention_elevator_id").prop("hidden", true);
            $("#intervention_column_id").prop("hidden", true);
            $("#intervention_battery_id").prop("hidden", true);
        } else {
            $("#intervention_elevator_id").prop("hidden", true);
            $("#intervention_column_id").prop("hidden", true);
            $("#intervention_battery_id").prop("hidden", false);
        }
        $.ajax({
            url: "/battery",
            type: "GET",
            dataType: "json",
            data: { building: building },
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var batteries = response["batteries"];
                $("#intervention_battery_id").empty();

                $("#intervention_battery_id").append('<option value="">Select Battery</option>');
                for (var i = 0; i < batteries.length; i++) {
                    $("#intervention_battery_id").append('<option value="' + batteries[i]["id"] + '">' + batteries[i]["id"] + '</option>');
                }
            }
        });
    });
    $("#intervention_battery_id").change(function () {
        var battery = $(this).val();
        if (battery == '') {
            $("#intervention_elevator_id").prop("hidden", true);
            $("#intervention_column_id").prop("hidden", true);
        } else {
            $("#intervention_elevator_id").prop("hidden", true);
            $("#intervention_column_id").prop("hidden", false);
        }
        $.ajax({
            url: "/column",
            type: "GET",
            dataType: "json",
            data: { battery: battery },
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var columns = response["columns"];
                $("#intervention_column_id").empty();

                $("#intervention_column_id").append('<option value="">None</option>');
                for (var i = 0; i < columns.length; i++) {
                    $("#intervention_column_id").append('<option value="' + columns[i]["id"] + '">' + columns[i]["id"] + '</option>');
                }
            }
        });
    });
    $("#intervention_column_id").change(function () {
        var column = $(this).val();
        if (column == '') {
            $("#intervention_elevator_id").prop("hidden", true);
        } else {
            $("#intervention_elevator_id").prop("hidden", false);
        }
        $.ajax({
            url: "/elevator",
            type: "GET",
            dataType: "json",
            data: { column: column },
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var elevators = response["elevators"];
                $("#intervention_elevator_id").empty();

                $("#intervention_elevator_id").append('<option value="">None</option>');
                for (var i = 0; i < elevators.length; i++) {
                    $("#intervention_elevator_id").append('<option value="' + elevators[i]["id"] + '">' + elevators[i]["id"] + '</option>');
                }
            }
        });
    });
</script>