@{
    ViewData["Title"] = "Modifications Sent";
}

<div class="container text-center">

    <div class="container text-center">

        <p></p>

        <h3 class="fw-600"><span>Customer info modifications</span></h3>

        <p>Your modifications have been sent ! Thank you !</p>

        <hr>

    </div>

</div>