@{
    ViewData["Title"] = "Intervention";
}

<head>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var customer = "@User.Identity.Name";
            if (customer == '') {
                $("#elevator_id").prop("hidden", true);
                $("#column_id").prop("hidden", true);
                $("#battery_id").prop("hidden", true);
                $("#building_id").prop("hidden", true);
            } else {
                $("#building_id").prop("hidden", false);
                $("#elevator_id").prop("hidden", true);
                $("#column_id").prop("hidden", true);
                $("#battery_id").prop("hidden", true);
            }
            jsonvalue = 'query{customerBuilding(email_company_contact:"@User.Identity.Name"){buildings{id,address_of_the_building}}}';
            console.log(jsonvalue);
            $.ajax({
                url: "https://cors-anywhere.herokuapp.com/https://graphql-wj.herokuapp.com/graphql",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ query: jsonvalue }),
                error: function (xhr, status, error) {
                    console.error('AJAX Error: ' + status + error);
                },
                success: function (response) {
                    console.log(response);
                    var buildings = response["data"]["customerBuilding"]["buildings"];
                    $("#building_id").empty();

                    $("#building_id").append('<option value="">--- Select Building ---</option>');
                    for (var i = 0; i < buildings.length; i++) {
                        $("#building_id").append('<option value="' + buildings[i]["id"] + '">' + buildings[i]["address_of_the_building"] + '</option>');
                    }
                }
            });
            jsonvalue2 = 'query{customerIDByCustomerEmail(email_company_contact:"@User.Identity.Name"){id}}';
            console.log(jsonvalue2);
            $.ajax({
                url: "https://cors-anywhere.herokuapp.com/https://graphql-wj.herokuapp.com/graphql",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ query: jsonvalue2 }),
                error: function (xhr, status, error) {
                    console.error('AJAX Error: ' + status + error);
                },
                success: function (response) {
                    console.log(response);
                    var author = response["data"]["customerIDByCustomerEmail"][0]["id"];
                    $("#author").html(author);
                }
            });

            $("#btnSayhello").click(function () {

                const customer_id = $("#author").html();
                const building_id = $("#building_id").val();
                const battery_id = $("#battery_id").val();
                const column_id = $("#column_id").val();
                const elevator_id = $("#elevator_id").val();
                const employee_id = $("#employee_ide").html();
                const author = $("#author").html();
                console.log(author)
                const report = $("#report").val();
                jsonvalue = 'mutation{createIntervention(options: {customer_id:' + customer_id + ',building_id:' + building_id + ',battery_id:' + battery_id + ',column_id:' + column_id + ',elevator_id:' + elevator_id + ',employee_id:' + employee_id + ',author: ' + author + ',report:"' + report + '"})}';
                console.log(jsonvalue);
                $("#SayhelloDiv").html('loading....');


                $.ajax({
                    url: "https://cors-anywhere.herokuapp.com/https://graphql-wj.herokuapp.com/graphql",
                    contentType: "application/json",
                    type: 'POST',
                    data: JSON.stringify({ query: jsonvalue }),
                    success: function (result) {
                        console.log(JSON.stringify(result))
                        //window.location.reload(true);
                    }
                });
            });
        });
    </script>
</head>

<div class="container text-center">

    <div class="container text-center">

        <p></p>

        <h3 class="fw-600"><span>NEW INTERVENTION FORM</span></h3>

        <p>Please enter your informations.</p>

        <hr>

    </div>

</div>
<form action="https://clientportalwj.azurewebsites.net/Home/InterventionSent" method="POST">
    <div class="table-responsive p-20 fs-16">
        <table class="table table-bordered table-vertical-middle">
            <tr>
                <td>Building Adress:</td>
                <td><select name="building_id" id="building_id"><option value="" selected="selected">--- Please wait ---</option></select></td>
            </tr>
            <tr>
                <td>Battery ID:</td>
                <td><select name="battery_id" id="battery_id"><option value="" selected="selected">--- Please wait ---</option></select></td>
            </tr>
            <tr>
                <td>Column ID:</td>
                <td><select name="column_id" id="column_id"><option value="" selected="selected">--- Please wait ---</option></select></td>
            </tr>
            <tr>
                <td>Elevator ID:</td>
                <td><select name="elevator_id" id="elevator_id"> <option value="" selected="selected">--- Please wait ---</option></select></td>
            </tr>
            <tr>
                <td><label for="employee_id">Employee Name</label></td>
                <td id="employee_id"></td>
            </tr>
            <tr>
                <td><label for="report">Report</label></td>
                <td><input type="text" id="report" /></td>
            </tr>

        </table>
        <div id="employee_ide" style="display:none"></div>
        <div id="author" style="display:none"></div>
    </div>
</form>
<button onclick="window.location.href = 'https://clientportalwj.azurewebsites.net/Home/InterventionSent';" id="btnSayhello">Send intervention</button>

<script>
    $("#building_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
    $("#battery_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
    $("#column_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
    $("#elevator_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty

    $("#customer_id").change(function () {
        var customer = $(this).val();
        $("#author").html(customer);
        if (customer == '') {
            $("#elevator_id").prop("hidden", true);
            $("#column_id").prop("hidden", true);
            $("#battery_id").prop("hidden", true);
            $("#building_id").prop("hidden", true);
        } else {
            $("#building_id").prop("hidden", false);
            $("#elevator_id").prop("hidden", true);
            $("#column_id").prop("hidden", true);
            $("#battery_id").prop("hidden", true);
        }
        jsonvalue = 'query{buildingsByCustomerID(customerID:' + customer + '){id,address_of_the_building}}';
        console.log(jsonvalue);
        $.ajax({
            url: "https://cors-anywhere.herokuapp.com/https://graphql-wj.herokuapp.com/graphql",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ query: jsonvalue }),
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var buildings = response["data"]["buildingsByCustomerID"];
                $("#building_id").empty();

                $("#building_id").append('<option value="">--- Select Building ---</option>');
                for (var i = 0; i < buildings.length; i++) {
                    $("#building_id").append('<option value="' + buildings[i]["id"] + '">' + buildings[i]["address_of_the_building"] + '</option>');
                }
            }
        });
    });
    $("#building_id").change(function () {
        var building = $(this).val();
        if (building == '') {
            $("#elevator_id").prop("hidden", true);
            $("#column_id").prop("hidden", true);
            $("#battery_id").prop("hidden", true);
        } else {
            $("#elevator_id").prop("hidden", true);
            $("#column_id").prop("hidden", true);
            $("#battery_id").prop("hidden", false);
        }
        jsonvalue = 'query{batteriesByBuildingID(buildingID:' + building + '){id}}';
        console.log(jsonvalue);
        $.ajax({
            url: "https://cors-anywhere.herokuapp.com/https://graphql-wj.herokuapp.com/graphql",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ query: jsonvalue }),
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var batteries = response["data"]["batteriesByBuildingID"];
                $("#battery_id").empty();

                $("#battery_id").append('<option value="">--- Select Battery ---</option>');
                for (var i = 0; i < batteries.length; i++) {
                    $("#battery_id").append('<option value="' + batteries[i]["id"] + '">' + batteries[i]["id"] + '</option>');
                }
            }
        });
    });
    $("#battery_id").change(function () {
        var battery = $(this).val();
        if (battery == '') {
            $("#elevator_id").prop("hidden", true);
            $("#column_id").prop("hidden", true);
        } else {
            $("#elevator_id").prop("hidden", true);
            $("#column_id").prop("hidden", false);
        }
        jsonvalue1 = 'query{columnsByBatteryID(batteryID:' + battery + '){id}}';
        console.log(jsonvalue1);
        $.ajax({
            url: "https://cors-anywhere.herokuapp.com/https://graphql-wj.herokuapp.com/graphql",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ query: jsonvalue1 }),
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var columns = response["data"]["columnsByBatteryID"];
                $("#column_id").empty();

                $("#column_id").append('<option value="">--- None ---</option>');
                for (var i = 0; i < columns.length; i++) {
                    $("#column_id").append('<option value="' + columns[i]["id"] + '">' + columns[i]["id"] + '</option>');
                }
            }
        });
        jsonvalue2 = 'query{ batteryInfos(id: ' + battery + '){ employee{id, first_name, last_name } } }';
        console.log(jsonvalue2);
        $.ajax({
            url: "https://cors-anywhere.herokuapp.com/https://graphql-wj.herokuapp.com/graphql",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ query: jsonvalue2 }),
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var firstname = response["data"]["batteryInfos"]["employee"]["first_name"];
                var lastname = response["data"]["batteryInfos"]["employee"]["last_name"];
                var emp_id = response["data"]["batteryInfos"]["employee"]["id"];
                console.log(emp_id);
                $("#employee_id").html(firstname + " " + lastname);
                $("#employee_ide").html(emp_id);
            }
        });
    });
    $("#column_id").change(function () {
        var column = $(this).val();
        if (column == '') {
            $("#elevator_id").prop("hidden", true);
        } else {
            $("#elevator_id").prop("hidden", false);
        }
        jsonvalue = 'query{ elevatorsByColumnID(columnID:' + column + '){id}}';
        console.log(jsonvalue);
        $.ajax({
            url: "https://cors-anywhere.herokuapp.com/https://graphql-wj.herokuapp.com/graphql",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ query: jsonvalue }),
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var elevators = response["data"]["elevatorsByColumnID"];
                $("#elevator_id").empty();

                $("#elevator_id").append('<option value="">None</option>');
                for (var i = 0; i < elevators.length; i++) {
                    $("#elevator_id").append('<option value="' + elevators[i]["id"] + '">' + elevators[i]["id"] + '</option>');
                }
            }
        });
    });
</script>